.navigation-secondary
{	
	&.expanded {
		.header-strip .page-title{
			width: 93%;
			.text {
				display: block;
			}
		}
	}
	.header-strip {
		padding-top: 0;
		padding-bottom: 0;
		.page-title{
			/*width: 100%;*/
			background: #333333;
			padding: 10px;
			@extend .clearfix;
			.text {
				display: none;
				float:left;
				padding: 5px 0;
			}
			.icon {
				float: right;
				margin-left: 10px;
				@extend .burger-menu;
				background-image: none;
				&:after{
					content:"<";
				}
			}
		}
	}
	.link-container li 
	{
		background-color: #f1f1f2;
		padding:7px;
		border-bottom: 1px solid #e7e7e7;
		img
		{
			vertical-align:sub; 
			padding-right: 10px;
		}
		a 
		{
			text-decoration: none;
			color: #000;
		}
		a:hover 
		{
			color: #1995ad;
		}
	}

}