.page-container {
	box-sizing: border-box;
	.container-primary {
		@include table;
		.left-navigation-primary {
			display: table-cell;
			width: 50px;
			> .header-strip {
				position: relative;
				img {
					height: 40px;
					vertical-align: bottom;
				}
			}
			&.expanded
			{
				width: 200px;
				& > .link-container > li > a > span
				{
					display:inline-block;
				}
			}
			button {
				position: absolute;
				left: 100%;
				top: 10px;
			}
		}
		.section-primary {
			display: table-cell;
			vertical-align: top;
			.header-strip {
				padding-left: 35px;
			}
		}
		.content-primary {
			@include table;
			.navigation-secondary {
				display: table-cell;
				width: 50px;
				& > .link-container > li > a > span {
					display: none;
				}
				&.expanded {
					width: 250px;
					& > .link-container > li > a > span
					{
						display:inline-block;
					}
				}
			}
			.container-secondary {
				display: table-cell;
			}
		}
	}
}