.header-strip {
	background: #1995ad;
	padding: 5px;
	@extend .clearfix;
	.logo {
		cursor: pointer;
		vertical-align: middle;
		height: 30px;
		&-expanded {
			display: none;
		}
	}
	.burger-menu {
		padding: 5px;
		width: 30px;
		height: 30px;
		background: url("../img/icon-menu.svg") center no-repeat #ffffff;
		border: 1px solid #eee;
		cursor: pointer;
		vertical-align: middle;
	}
	.page-title {
		display: inline-block;
		vertical-align: middle;
		padding: 10px;
		font-size: 20px;
		color: #ffffff;
	}
	.right-navigation {
		float: right;
		color: #ffffff;
		li {
			display: inline-block;
			padding: 0px;
			margin: 0 5px;
			cursor: pointer;
		}
	}
}
.expanded {
	.header-strip .logo{
		&-expanded {
			display: inline-block;
		}
		&-default {
			display: none;
		}		
	}

}
.link-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	text-align: left;
	border-right: 1px solid #f1f1f2;	
}